<mat-toolbar>
	<span routerLink="/" class="logo">Reddit Clone</span>

	<div class="spacer"></div>

	@if(authService.isAuthenticated()){
	<button mat-button [matMenuTriggerFor]="userMenu">
		<mat-icon>account_circle</mat-icon>
	</button>
	<mat-menu #userMenu>
		<button mat-menu-item routerLink="/profile">
			<mat-icon>person</mat-icon>
			Profile
		</button>
		<button mat-menu-item (click)="logout()">
			<mat-icon>logout</mat-icon>
			Logout
		</button>
	</mat-menu>
	}@else {
	<button mat-button routerLink="/auth/login">Login</button>
	<button mat-raised-button color="accent" routerLink="/auth/signup">Sign up</button>
	}
</mat-toolbar>

<main class="main-content">
	<router-outlet></router-outlet>
</main>
